html, body {
    height: 100%;
}

body {
    font-size: 16px;        /* размер шрифта */
    line-height: 1.65;      /* расстояние между верхней и нижнец границей */
    font-family: Poppins;   /* Семейство шрифта */
    display: block;
}

header {
    margin: 40px auto;      /* отступ сверху и снизу 50px , слева и справа авто. */
    width: 85%;       /* максимальная ширина на странице */
    display: flex;          /* выравнивание блоков в строку */  
    align-items: center;
}   

.logo {
    display: block;
    max-width: 10wv;
    color: #2E3B5F;
    font-size: 3em;
    text-decoration: none;
    margin-right: 5vw;
    margin-left: 5vw;
}

.menu {
    list-style-type: none;  /* убирает стили */
}

.menu li {
    display: inline-block;  /* делает меню строчным */
    margin-right: 2vw;     /* перемещает в право */
}

.menu li a{
    text-decoration: none; /* убирает стили */
    color: #2E3B5F;
    font-size: 18px;
    font-weight: 500;
}

.menu li a:hover{    /* эффект при наведении на ссылку */
    color: #1DB954;
}

.btns a{
    text-decoration: none;
    align-items: center ;
    border: 2px solid #AB5934;
    font-size: 12px;
    padding: 0.5vh 2vw;
    font-weight: 600;
    color: #AB5934;
}

.far {
    color: #AB5934;
    margin-left: 5px;
}

.menu ul {                            /* Начало выпадающего списка */
    display: none;
    position: absolute;
}

.menu li:hover > ul {
    display: block;
    left: 35vw;
}

.menu ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position:relative;
    list-style-type: none;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}                                     /* Конец выпдающего списка */

.fas {
    margin-right: 1vw;
    color: #2E3B5F;
}

.container {
    background-color: slateblue;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1610px) {
    .logo {
        margin: 0 3vw;
    }
    .menu li a {
        font-size: 14px;
    }
    .btns i {
        padding-top: 1vh;
    }
    .btns {
        display: flex;
        text-align: center;
    
    }
}



